*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/NetBeans/AppEE-WS/nbproject/private/
/NetBeans/AppEnterprise/nbproject/private/
/NetBeans/FrontController/nbproject/private/
/NetBeans/ModuloEJB/nbproject/private/
/NetBeans/ModuloEJB-WS/nbproject/private/
/NetBeans/ModuloWEB-WS/nbproject/private/
/NetBeans/AppEE-WS/build/
/NetBeans/AppEnterprise/build/
/NetBeans/FrontController/build/
/NetBeans/ModuloEJB/build/
/NetBeans/ModuloEJB-WS/build/
/NetBeans/ModuloWEB-WS/build/
/NetBeans/AppFrontController/nbproject/private/
/NetBeans/AppFrontController/build/
/NetBeans/AppFrontController/dist/
/NetBeans/ModuloEJB/dist/
/NetBeans/BibliotecaCompartilhada/nbproject/private/
/NetBeans/MeuModuloEJB/nbproject/private/
/NetBeans/AppEJB/nbproject/private/
/NetBeans/AppCliente/nbproject/private/
/NetBeans/AppClienteJMS/nbproject/private/
/NetBeans/ModuloEJBBMDB/nbproject/private/
/NetBeans/MDBApp/nbproject/private/
/NetBeans/MDBApp/MDBApp-war/nbproject/private/
/NetBeans/MDBApp/MDBApp-ejb/nbproject/private/
/NetBeans/ModuloEJBBMDB/build/
/NetBeans/ModuloEJBBMDB/dist/
/NetBeans/MDBApp/dist/
/NetBeans/MDBApp/build/
/NetBeans/MDBWeb/nbproject/private/
/NetBeans/BibliotecaCompartilhada/build/
/NetBeans/BibliotecaCompartilhada/dist/
/NetBeans/MDBWeb/build/
/NetBeans/AppEJB/build/
/NetBeans/AppEJB/dist/
/NetBeans/MeuModuloEJB/dist/
/NetBeans/MeuModuloEJB/build/
/NetBeans/WebAppXML/nbproject/private/
/NetBeans/WebAppXML/build/
/NetBeans/WebAppXML/dist/